<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../layout/nav.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
